# sd image
os.img

# mnt folder
mnt/

# shell
shell

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.lbl
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# x16 program files
*.prg