# if you want to combine the 2 16 kbyte roms
# make sure the halves are mirrored in the 64kbyte cartridge image
# or reset from code >0xc000 and switch bank to the 3rd bank

SYMBOLS {
    __STACKSIZE__: type = weak, value = $0100;
}
MEMORY {
    ZP:       file = "", start = $30, size = $50 - $30;
    CPUSTACK: file = "", start = $0100, size = $0100;
    RAM:      file = %O, start = $A300, size = ($C000 - $A300) - __STACKSIZE__,            define = yes;
}
SEGMENTS {
    ZEROPAGE: load = ZP,            type = zp,  define   = yes;
	STARTUP:  load = RAM,           type = ro,  optional = yes;	
    ONCE:     load = RAM,           type = ro,  optional = yes;
    CODE:     load = RAM,           type = ro,  define   = yes;
    RODATA:   load = RAM,           type = ro,  define   = yes;
    DATA:     load = RAM, 			type = rw,  define   = yes;
    BSS:      load = RAM,           type = bss, define   = yes;
}
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
}
