# sd image
os.img

# mnt folder
mnt/
mnt_dir/

# vscode
.vscode/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.lbl
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# x16 program files
*.prg
cx16os.img
